<div class="blog-header">
  <% if (false) { %>
  <h1 class="blog-title"><%= config.title %></h1>
  <% } %>
  <% if (theme.subtitle){ %>
    <p class="lead blog-description"><%= theme.subtitle %></p>
  <% } %>
</div>
